In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'国家': ['中国', '美国', '日本'],  '地区': ['亚洲', '北美', '亚洲'],'人口': [13.97, 3.28, 1.26], 'GDP': [14.34, 21.43, 5.08],                  })

In [52]:
# 读取csv

## 使用URL 可以直接读取远端数据
df1 = pd.read_csv('https://www.gairuo.com/file/data/dataset/GDP-China.csv')
df1.set_index('年份', inplace=True)
df1

## 读取字符串csv  所以对于之前那种情况，可以先按照json来读取，拿到对象，然后用StringIO处理之后就可以按照csv来读取
## 注意默认分割符是逗号  可以通过sep参数设置为其他值
from io import StringIO
data = ('col1,col2,col3\n'
        'a,b,1\n'        
        'a,b,2\n'      
        'c,d,3')
df2 = pd.read_csv(StringIO(data))
df2

## 读取的时候可以设置表头,默认是第一行为表头
## df2 = pd.read_csv(StringIO(data),header=None)
df2 = pd.read_csv(StringIO(data),header=[0,1,2]) # 多层索引
df2

## 设置列名&索引：如果文件不包含列名，可以通过names来设置；index_col设置第几列是索引（序列号或者列名都可）
df2 = pd.read_csv(StringIO(data),header=None, names=['列1', '列2', '列3'], index_col = 0) 
df2 = pd.read_csv(StringIO(data),header=0, index_col='col1') 



## 使用部分列
df2 = pd.read_csv(StringIO(data),header=0, index_col='col1', usecols=['col1','col2']) 
df2

## 使用部分列,callbale
df2 = pd.read_csv(StringIO(data),header=0, index_col='col1', usecols=lambda x: x.lower() in ['col1','col2']) 
df2

     col2
col1
a       b
a       b
c       d

In [ ]:
# 读取excel
# 返回DataFrame
# pd.read_excel('team.xlsx') # 默认读取第一个标签页Sheet
# pd.read_excel('path_to_file.xlsx', sheet_name='Sheet1') # 指定Sheet
# 从URL读取
# pd.read_excel('https://www.gairuo.com/file/data/dataset/team.xlsx')

In [16]:
# 读取json， 可以直接读取并获取接口数据，通过取值就可以将二维数组转换成df
df2 = pd.read_json('http://yapi.sankuai.com/thrift/mock/project/12291/gundam/sign')
df3 = pd.DataFrame(df2.data.list)
df3

   0  1  2
0  1  2  3
1  4  5  6

In [ ]:
# 能不能将csv字符串直接转成df呢  等下看完详细章节再补充
df4 = pd.read_csv()

In [ ]:
# 读取html
# pd.read_html()函数可以接受HTML字符串、HTML文件、URL，并将HTML中的<table>标签表格数据解析为DataFrame

In [67]:
# 列表，默认为None
data = ('a,b,c\n1,Yes,2\n3,No,""')
# 保留默认空值
pd.read_csv(StringIO(data),  true_values=['Yes'], false_values=['No'],keep_default_na=False, na_values='?')

   a      b  c
0  1   True  2
1  3  False